* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 6.25%;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*Navegación*/

.nav-container {
    width: 100%;
    height: 25px;
    display: flex;
    margin-top: 10rem;
}

/*DERECHA*/
.nav-container__right {
    display: flex;
    width: 60%;
    margin-left: 10rem;
}

.nav-container__right picture {
    width: 16rem;
    align-self: center;
}

.nav-container__right picture img {
    width: 100%;
}

.nav-container__right ul {
    display: flex;
    margin-left: 10rem;
    align-items: center;
}
.nav-container__right ul li {
    list-style: none;
}

.nav-container__right ul li a{
    text-decoration: none;
    font-size: 12rem;
    color: #343A40;
}

.nav-container__right ul li a:active {
    color: mediumblue;
}

.nav-container__right--li {
    margin-left: 20px;
}

/*IZQUIERDA*/
.nav-container__left {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    margin-right: 10rem;
}

.nav-container__left picture {
    width: 20rem;
    margin-left: 10rem;
}

.nav-container__left picture img {
    width: 100%;
}

/*Contenido Principal*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    min-height: 100%;
    margin-top: 35px;
    max-width: 575px;
    width: 100%;
}

.container picture {
    width: 112px;
}

.container picture img {
    width: 100%;
}

.container-search {
    display: flex;
    border: solid 1rem #E9ECEF;
    border-radius: 20rem;
    padding: 0 10rem;
    width: 90%;
}

.container-search picture {
    width: 25rem;
    display: flex;
    align-items: center;
}

.container-search picture .img {
    width: 75%;
    height: 75%;
}

.container-search picture img {
    width: 100%;
}

.container-search form {
    width: 90%;
}
.container-search input {
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
}

.container__tendencias {
    display: flex;
    flex-direction: column;
    width: 87%;
    margin-top: 20px;
}
.container__tendencias h2{
    font-size: 16rem;
}

.container__tendencias-element {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.container__tendencias-element a {
    text-decoration: none;
    color: black;
    font-size: 12rem;
    padding: 10px;
    padding-left: 0;
    border-bottom: 1px solid #f2f2f2;
}

.container__tendencias-element a span {
    background-image: url(../img/8666800_trending_up_arrow_icon.svg);
    width: 12px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
    vertical-align: text-bottom;
}

/*Pie de página*/

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    position: absolute;
    bottom: 0;
    color: #70757a;
}

.footer-container section {
    background-color: #f2f2f2;
    height: 32rem;
    border-bottom: 1px solid #dadce0;
}

.footer-container section h1 {
    font-size: 12rem;
}